<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador</title>
        <link rel="stylesheet" href="/css/styleAgregarAdministrador.css">
        <script src="/script/scriptAgregarPersonal.js"></script>
    </head>
    <body>
        <div id="franjaSuperior"></div>

        <div id="menu">
            <h2>Menú</h2>

            <ul>
                <li>
                    <button
                        style="background-image: url('/image/Personal.png');"
                        onclick="window.location.href = '/administrador/agregarPersonal';"></button>
                </li>
            </ul>
        </div>

        <div id="BARRA"></div>

        <form id="formularioPersonal" method="post"
            onsubmit="return validateForm('/insertar')">

            <div id="contenido">

                <div id="campos-izquierda">
                    <div class="campo">
                        <label for="nombre">Nombre(s):</label>
                        <input type="text" name="nombre" id="nombre"
                            placeholder="Ingrese datos">
                    </div>
                    <div class="campo">
                        <label for="apellidoPaterno">Apellido Paterno:</label>
                        <input type="text" name="apellidoPaterno"
                            id="apellidoPaterno" placeholder="Ingrese datos">
                    </div>
                    <div class="campo">
                        <label for="apellidoMaterno">Apellido Materno:</label>
                        <input type="text" name="apellidoMaterno"
                            id="apellidoMaterno" placeholder="Ingrese datos">
                    </div>
                    <div class="campo">
                        <label for="ocupacion">Ocupación:</label>
                        <input type="text" name="ocupacion" id="ocupacion"
                            value="personal" placeholder="personal" disabled>
                    </div>
                </div>
                <div id="campos-derecha">
                    <div class="campo">
                        <label for="antiguedad">Antigüedad:</label>
                        <input type="number" name="antiguedad" id="antiguedad"
                            placeholder="Ingrese datos">
                    </div>
                    <div class="campo">
                        <label for="clave">Numero de Empleado:</label>
                        <input type="text" name="clave" id="clave"
                            placeholder="Ingrese datos">
                    </div>
                    <div class="campo">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="contrasena" id="contrasena"
                            placeholder="********">
                    </div>
                </div>
                <br><br><br><br><br><br>

                <div id="botones">

                    <br><div id="search-container">
                        <input type="text" placeholder="Buscar..." maxlength="7" pattern="[0-9]*">
                        
                    </div><br>

                    <button type="submit" name="accion" value="modificar"
                        onclick="validateForm('/modificar')">
                        <img src="/image/crear.png" alt="Modificar"
                            style="width: 90px; height: 30px;"><br>
                    </button>

                    <button type="submit" name="accion" value="guardar"
                        onclick="validateForm('/insertar')">
                        <img src="/image/guardar.png" alt="Guardar"
                            style="width: 90px; height: 30px;"><br>
                    </button>

                    <button type="button" name="accion" value="eliminar"
                        onclick="validateForm('/eliminar')">
                        <img src="/image/eliminar.png" alt="eliminar"
                            style="width: 90px; height: 30px;"><br>
                    </button>

                    <button type="button" name="accion" value="cancelar"
                        onclick="validateForm('/cancelar')">
                        <img src="/image/cancelar.png" alt="cancelar"
                            style="width: 90px; height: 30px;"><br>
                    </button>
                </div>

            </form>

            <table id="tabla" border="1">
                <tr>
                    <th>Nombre(s)</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Ocupación</th>
                    <th>Antigüedad</th>
                    <th>Número de empleado</th>
                    <th>Contraseña</th>
                </tr>
                <tr>
                    <td>Gladys Rubi</td>
                    <td>Solis</td>
                    <td>Castillo</td>
                    <td>Administrador</td>
                    <td>6</td>
                    <td>12344</td>
                    <td>JSDHpd5</td>
                </tr>
                <tr>
                    <td>Jair Abiel</td>
                    <td>Balderas</td>
                    <td>Espinoza</td>
                    <td>Desarrollador</td>
                    <td>3</td>
                    <td>12345</td>
                    <td>65jSO</td>
                </tr>
                <tr>
                    <td>María Fernanda</td>
                    <td>Rodríguez</td>
                    <td>Hernández</td>
                    <td>Gerente</td>
                    <td>8</td>
                    <td>12346</td>
                    <td>jsj58OP</td>
                </tr>
                <tr>
                    <td>Laura</td>
                    <td>Gómez</td>
                    <td>Martínez</td>
                    <td>Analista de datos</td>
                    <td>2</td>
                    <td>12347</td>
                    <td>KJCJ850k</td>
                </tr>
                <tr>
                    <td>Pedro</td>
                    <td>Díaz</td>
                    <td>Pérez</td>
                    <td>Contador</td>
                    <td>5</td>
                    <td>12348</td>
                    <td>ksh44S</td>
                </tr>
                <tr>
                    <td>Ana</td>
                    <td>Castro</td>
                    <td>López</td>
                    <td>Analista</td>
                    <td>1</td>
                    <td>12349</td>
                    <td>BAU8s5w</td>
                </tr>
            </table>
        </body>
    </html>
