<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="/css/styleAdministrador.css">

</head>
<body>
<div id="franjaSuperior"></div>

<div id="menu">
    <h2>Menú</h2> 
    
    <ul>
        <li>
            <button style="background-image: url('/image/Personal.png');" onclick="window.location.href = '/administrador/agregarPersonal';"></button>
        </li>
       
    </ul>
</div>
<div id="BARRA"></div>

<div id="contenido">
    <h1>Bienvenido</h1>
    <p class="titulo">Administrador</p>
    <p>Gracias por acceder al sistema de gestión de datos de alumnos y docentes. Como administrador, tienes un papel crucial en garantizar la integridad, seguridad y eficiencia de nuestra plataforma educativa.</p>
    <p>Tu labor es fundamental para mantener actualizada la información de alumnos y docentes, así como para gestionar los permisos y accesos de manera adecuada.</p>
    <p>Recuerda que la privacidad y confidencialidad de los datos son prioritarias. Asegúrate de seguir los protocolos establecidos y de cumplir con las regulaciones de protección de datos.</p>
    <p>¡Gracias por tu dedicación y compromiso en hacer de nuestra plataforma un espacio seguro y eficiente para la comunidad educativa!</p>
    <p>Recuerda los siguientes eventos proximos: </p>
</div>

<div class="dashboard-systemLine">
    <div class="tile">
        <div class="tile-title">
            <p>REUNIÓN CON LIC. IVÁN TERASHIMA ZAMORA</p>
            <p> DIRECTOR DEL ICOJUVE</p>
        </div>
        <div class="tile-number"> 10:00 am/8 de febrero</div>
    </div>
    <div class="tile">
        <div class="tile-title">
            <p>REUNION: "INTERNET</p>
            <p> DE LAS COSAS"</p>
        </div>
        <div class="tile-number">12:00 pm/1 de marzo</div>
    </div>
    <div class="tile">
        <div class="tile-title">
            <p>¿PRÓXIMO RESIDENTE?</p>
            <p> AULA AUDIOVISUAL</p>
        </div>
        <div class="tile-number">09:00 am/2 Marzo</div>
    </div>
</div>

</body>
</html>