<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal</title>
    <link rel="stylesheet" href="/css/styleAgregarAlumnos.css">
    <script src="/script/scriptAgregarAlumnos.js"></script>
</head>

<body>
    <div id="franjaSuperior"></div>

    <%- include('../partials/menuPersonal') %>

        <div id="contenido">
            <form id="formularioAlumnos" method="post" onsubmit="return validateForm(action)">
                <div id="campos-izquierda">
                    <div class="campo">
                        <label for="nombre">Nombre(s):</label>
                        <input type="text" name="nombre" id="nombre" maxlength="100" placeholder="Inserta nombre"
                            onkeydown="validateInput(event)" required>
                    </div>
                    <div class="campo">
                        <label for="apellidoPaterno">Apellido Paterno:</label>
                        <input type="text" name="apellidoPaterno" id="apellidoPaterno" maxlength="100"
                            placeholder="Inserta Apellido Paterno" onkeydown="validateInput(event)" required>
                    </div>
                    <div class="campo">
                        <label for="apellidoMaterno">Apellido Materno:</label>
                        <input type="text" name="apellidoMaterno" id="apellidoMaterno" maxlength="100"
                            placeholder="Inserta Apellido Materno" onkeydown="validateInput(event)" required>
                    </div>
                    <div class="campo">
                        <label for="genero">Género:</label>
                        <select name="genero" id="genero" required>
                            <option value="">Selecciona género</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="matricula">Matrícula:</label>
                        <input type="text" name="matricula" id="matricula" oninput="validateMatricula(event)" required
                            placeholder="Inserta la matrícula">
                    </div>
                    <div class="campo">
                        <label for="Correo">Correo:</label>
                        <input type="email" name="Correo" id="Correo" required placeholder="Inserta el Correo">
                    </div>
                </div>
                <div id="campos-derecha">
                    <div class="campo">
                        <label for="Domicilio">Domicilio:</label>
                        <input type="text" name="Domicilio" id="Domicilio" maxlength="80" required
                            placeholder="Inserta el Domicilio">
                    </div>
                    <div class="campo">
                        <label for="Fecha_Nacimiento">Fecha de Nacimiento:</label>
                        <input type="date" name="Fecha_Nacimiento" id="Fecha_Nacimiento" required
                            placeholder="Selecciona la fecha de nacimiento">
                    </div>
                    <div class="campo">
                        <label for="semestre">Semestre</label>
                    <select id="semestre" name="semestre" required>
                        <option value="">Selecciona semestre</option>
                        <option value="1">1°</option>
                        <option value="2">2°</option>
                        <option value="3">3°</option>
                        <option value="4">4°</option>
                        <option value="5">5°</option>
                        <option value="6">6°</option>
                        <option value="7">7°</option>
                    </select>
                    </div>
                    <div class="campo">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="contrasena" id="contrasena" oninput="validateContrasena(event)"
                            required placeholder="Inserta la contraseña">
                    </div>

                    <button type="submit" name="accion" value="buscar" class="ov-btn-slide-right" style=" 
                        color: white; 
                        padding: 10px 25px; 
                        cursor: pointer; 
                        min-width: 150px; " onclick="validateForm('/buscarAlumnos')">Buscar
                    </button>
                </div>


                <div id="botones">
                    <br><br>
                    <button type="submit" name="accion" value="modificar" class="ov-btn-slide-right"
                        onclick="validateForm('/modificarAlumnos')">
                        Guardar
                    </button>

                    <button type="submit" name="accion" value="guardar" class="ov-btn-slide-right"
                        onclick="validateForm('/insertarAlumnos')">
                        Crear
                    </button>


                    <button type="button" name="accion" value="eliminar" class="ov-btn-slide-right"
                        onclick="validateForm('/eliminarAlumnos')">
                        Eliminar
                    </button>

                    <button type="button" name="accion" value="cancelar" class="ov-btn-slide-right"
                        onclick="cancelarFormulario()">
                        Cancelar
                    </button>

                </div>
        </div>
        </from>

        <div id="tabla">

</body>

</html>