<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación de Horario</title>
    <link rel="stylesheet" href="/css/styleAsignarHorario.css">
    <link rel="stylesheet" href="/css/styleCrearHorario.css">
    <link href="/css/styleBootstrap5.0.2.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

    <div id="franjaSuperior"></div>

    <!-- Incluir el menú -->
    <%- include('../partials/menuPersonal') %>

        <h2 style="text-align: center; margin-top: 60px; margin-bottom: 30px; margin-left: 225px;">Asignación de Horario</h2>

        <div style="margin-top: 20px; display: flex; justify-content: center;">
            <input type="text" id="nombreHorario" name="nombreHorario" placeholder="Nombre del horario" style="margin-left: 225px; margin-right: 10px; width: 300px;" maxlength="30"   onkeydown="validateInput(event)" required>
            <button id="buscarHorario" class="ov-btn-slide-right" style="color: white; padding: 10px 25px; cursor: pointer; min-width: 365px;">Buscar Horario</button>
        </div>

        <form id="formularioHorario" method="post" onsubmit="return validateForm()" style="margin-top: 20px; display: flex; justify-content: center;">
            <input type="text" id="matricula" name="matricula" placeholder="Matrícula del alumno" style="margin-left: 225px; margin-right: 10px; width: 200px;" maxlength="7" required>
            <button id="asignarHorario" class="ov-btn-slide-right" style="color: white; padding: 10px 25px; cursor: pointer; min-width: 300px; margin-right: 10px;" type="submit" name="asignarHorario" value="asignarHorario" onclick="validateAsignarHorario()" disabled>Asignar Horario</button>
            <button id="eliminarAsignacion" class="ov-btn-slide-right" style="color: white; padding: 10px 25px; cursor: pointer; min-width: 300px; margin-right: 10px;" type="submit" name="eliminarAsignacion" value="eliminarAsignacion" onclick="validateEliminarAsignacion()" disabled>Eliminar Asignación</button>
            <button id="cancelar" class="ov-btn-slide-right" style=" 
            color: white; 
            padding: 10px 25px; 
            cursor: pointer; 
            min-width: 150px;
            margin-right: 40px;"
             >Cancelar</button>
    
        </form>


    <!-- Sección de asignación de horario -->
    <div class="container" style="margin-top: -30px;">
        <div class="row">
            <div class="col-12 my-5">
                <ul class="horario-container">
                    <div class="list-group" id="horario" name="horario">
                        
                    </div>
                    <div  id="contadorDisplay"></div>

                </ul>
            </div>
        </div>
    </div>


    <div style="margin-top: -145px;"> <!-- Reducción del espacio entre la sección de asignación de horario y la tabla -->
        <div id="tabla"></div>
    </div>
    
    <script src="/script/sortable.min.js"></script>
    <script src="/script/scriptAsignarHorario.js"></script>
    <script src="/script/scriptCrearHorario.js"></script>
</body>

</html>
