<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal</title>
    <link rel="stylesheet" href="/css/styleAsignarHorario.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

    <div id="franjaSuperior"></div>

    <%- include('../partials/menuPersonal') %>

  
<script src="/script/sortable.min.js"></script>
<script src="/script/scriptAsignarHorario.js"></script>
</body>
</html>
