
<%- include('partials/headerLogin') %>

  <!-- Agrega el atributo 'action' con la ruta correcta -->
  <label for="matricula">Numero de usuario:</label>
  <input type="text" id="matricula" name="matricula" required maxlength="6">
  <label for="contrasena">Contraseña:</label>
  <input type="password" id="contrasena" name="contrasena" required maxlength="15">
  <input type="submit" value="Iniciar Sesión">
</form>
</div>
   <%- include('partials/footerLogin') %>
jf