body {
    margin: 0;
    padding: 0;
    font-family: Candara, Arial, sans-serif;
    background-image: url('image/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#franjaSuperior {
    position: fixed;
    top: 0;
    left: 0px;
    width: calc(100%);
    height: 35px;
    background-color: #ACC5EE;
    z-index: 9999;
}

h1 {
    text-align: center;
}

#menu {
    position: fixed;
    margin-top: 35px;
    left: 0;
    top: 0px;
    bottom: 0;
    width: 200px;
    font-family: Courier New, sans-serif;
    color: #FFF;
    padding: 25px;
    background-color: #162030;
    background-size: cover;
    opacity: 100;
}


#menu h2 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 35px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

#menu ul li button {
    padding: 20px;
    margin: 10px 0;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    width: calc(100% - 0px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menu ul li button:hover {
    background-color:#E9F0FB;
}

#contenido {
    margin-left: 270px;
    margin-right: 300px;
    margin-top: 50px;
    padding: 0px;
    text-align: center;
    text-align: justify;
}

.titulo {
    font-size: 24px;
    color: #162030;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.imagen-container {
    margin-bottom: 0px; 
}

.imagen-container img {
    width: 50px; 
    height: auto;         
}

/* Estilos para la tabla */
#tabla {
    margin: 35px 0 0 0; /* Margen superior para evitar que se superponga con la franja superior */
    width: calc(92% - 200px); /* El ancho de la tabla es el ancho total menos el ancho del menú */
    margin-left: 280px; /* Para alinearla con el menú */
    margin-right: 40px;
    table-layout: fixed;
    border-collapse: collapse;
}

#tabla th, #tabla td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* encabezados */
#tabla th {
    background-color: #45659B; 
    color: white; 
}
/*celdas*/
#tabla td {
    background-color: #E9F0FB;
}

/* Ajuste para el campo de selección */
label {
    display: block;
    margin-top: 20px; /* Ajuste el margen según sea necesario */
}

select {
    width: 20%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left:  280px;
    background-color: #E9F0FB;
}

