<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="/css/styleAdministrador.css">

</head>
<body>
<div id="franjaSuperior"></div>

<div id="menu">
    <h2>Menú</h2> 
    
    <ul>
        <li>
            <button style="background-image: url('/image/Personal.png');" onclick="window.location.href = '/administrador/agregarPersonal';"></button>
        </li>
       
    </ul>
</div>
<div id="BARRA"></div>
