
<body>
<div id="franjaSuperior"></div>

<div id="menu">
    <h2>Menú</h2> 

    <ul>
        
        <li>
            <button style="background-image: url('/image/horario.png');" onclick="window.location.href='/alumno/horario'"></button>
        </li>
        <li id="inicio-btn">
            <button style="background-image: url('/image/INICIO.png');" onclick="window.location.href='/alumno'"></button>
        </li>
    </ul>
</div>
<div id="BARRA"></div>
