<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/styleLogin.css">
</head>
<body>
  
  <div class="header">
    <h1><img src="image/cbta.png" alt="CBTa #59" class="logo" width="70" height="70"></h1>
  </div>
  <div class="welcome-text">
    <p>Bienvenido</p>
  </div>

  <img src="image/INS.jpg" alt="INSTITUTO" class="ima" width="730" height="587">
  <div class="login-container">
    <div class="icon-button-container">
      <form id="login" action="/login" onsubmit="return validateForm()" method="POST">
        <input type="radio" id="alumno" name="tipo" value="Alumno" onclick="setBotonSeleccionado('Alumno')">
        <label for="alumno" class="icon-button">
          <img src="image/ICONO_ESTUDIANTE.png" alt="Icono Estudiante" width="10" height="50">
        </label>
  
        <input type="radio" id="profesor" name="tipo" value="profesor" onclick="setBotonSeleccionado('profesor')">
        <label for="profesor" class="icon-button">
          <img src="image/ICONO_DOCENTE.png" alt="Icono profesor"  width="10" height="50">
        </label>
  
        <input type="radio" id="personal" name="tipo" value="Personal" onclick="setBotonSeleccionado('Personal')">
        <label for="personal" class="icon-button">
          <img src="image/ICONO_ADMIN.png" alt="Icono Personal" width="10" height="50">
        </label>

        <input type="radio" id="SuperAdmin" name="tipo" value="SuperAdmin" onclick="setBotonSeleccionado('SuperAdmin')">
        <label for="SuperAdmin" class="icon-button">
          <img src="image/ICONO_ADMIN.png" alt="Icono SuperAdmin" width="10" height="50">
        </label>
  