<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/styleLogin.css">
</head>
<body>
  
  <div class="header">
    <h1><img src="image/cbta.png" alt="CBTa #59" class="logo" width="70" height="70"></h1>
  </div>
  <div class="welcome-text">
    <p>Bienvenido</p>
  </div>
  <img src="image/INS.jpg" alt="INSTITUTO" class="ima" width="730" height="587">
  <div class="login-container">
    <div class="icon-button-container">
      <button class="icon-button" onclick="setBotonSeleccionado('Alumno')">
        <img src="image/ICONO_ESTUDIANTE.png" alt="Icono Estudiante">
      </button>
      <button class="icon-button" onclick="setBotonSeleccionado('Docente')">
        <img src="image/ICONO_DOCENTE.png" alt="Icono Administrador">
      </button>
      <button class="icon-button" onclick="setBotonSeleccionado('Personal')">
        <img src="image/ICONO_ADMIN.png" alt="Icono Docente">
      </button>
    
  
