<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumno</title>
    <link rel="stylesheet" href="css/styleAlumno.css">

</head>
<body>
<div id="franjaSuperior"></div>

<div id="menu">
    <h2>Menú</h2> 

    <ul>
        <li>
            <button style="background-image: url('image/alumno.png');" onclick="window.location.href='crearAl.html'"></button>
        </li>
        <li>
            <button style="background-image: url('image/docente.png');" onclick="window.location.href='crearDo.html'"></button>
        </li>
        <li>
            <button style="background-image: url('image/materias.png');" onclick="window.location.href='materias.html'"></button>
        </li>
        <li>
            <button style="background-image: url('image/horario.png');" onclick="window.location.href='horario.html'"></button>
        </li>
    </ul>
</div>
<div id="BARRA"></div>
