<div id="menu">
    <h2>Menú</h2> 
    <ul>
        <li>
            <button style="background-image: url('/image/alumno.png');" onclick="window.location.href='/personal/agregarAlumnos';"></button>
        </li>
        <li>
            <button style="background-image: url('/image/docente.png');"onclick="window.location.href = '/personal/agregarDocente';"></button>
        </li>
        <li>
            <button style="background-image: url('/image/materias.png');" onclick="window.location.href='/personal/agregarMateria';"></button>
        </li>
        <li>
            <button style="background-image: url('/image/horario.png');" onclick="window.location.href='/personal/crearHorario'"></button>
        </li>
        <li>
            <button style="background-image: url('/image/asignarHorario.png');" onclick="window.location.href='/personal/asignarHorario'"></button>
        </li>
        <li id="inicio-btn">
            <button style="background-image: url('/image/INICIO.png');" onclick="window.location.href='/personal'"></button>
        </li>
    </ul>
</div>