<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumno</title>
    <link rel="stylesheet" href="/css/styleHorarioAlumno.css">
    <script src="/script/scriptVerHorario.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>

<%- include('../partials/headerAlumno') %>
<h1><img src="/image/LOGO2.png"  class="logo" ></h1>

<div id="contenido">
    <table class="custom-table">
        <tr>
          <td>Matrícula:</td>
          <td>Nombre del Horario:</td>
          <td>Semestre:</td>
          <td>Periodo:</td>

        </tr>
        <tr>
            <td><span id="matriculaMostrada"></span></td>
            <td><span id="nombre_Horario"></span></td>
            <td><span id="semestre"></span></td>
            <td><span id="periodo"></span></td>

        </tr>
      </table>
      <br><br>

    <p id="mensajeTablaVacia" class="mensaje" style="display: none;">Usted no tiene un horario asignado, favor de acudir con su coordinador </p>
    
    <br><br>

    <table id="tabla" name="tabla" class="customTable"></table>

    <!-- Mensaje de tabla vacía -->
</div>

</body>
</html>
