
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumno</title>
    <link rel="stylesheet" href="/css/styleHorarioAlumno.css">
    <script src="/script/scriptVerHorario.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>

<%- include('../partials/headerAlumno') %>

<div id="contenido">
    <p>Matrícula: <span id="matriculaMostrada"></span></p>
    <p>nombre_Horario: <span id="nombre_Horario"></span></p>
    <p>semestre: <span id="semestre"></span></p>

    <table id="tabla" name="tabla" class="customTable"></table>



</body>
</html>